/* Styles pour la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour les sections */
.section {
    display: none;
    padding: 20px;
}

/* Animation pour afficher les sections */
.section.show {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}


/*CV*/

.container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

header h1 {
    font-size: 24px;
}

header p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li::before {
    content: "•";
    margin-right: 5px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
